<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title.name %>
    </title>
</head>

<body>
    <ul>
            <li>
                <%= title.name %>
            </li>
            <li>
                <%= title.age %>
            </li>
        </ul>
</body>

</html>